.undellineHome{
    text-decoration-color:#F5CB00;
}

.uploudApp{
    padding-top: 21em;
    padding-left: 10em;
}
.carousel-item{
    min-height: 280px;
}
.imageHomeBg {
    /* height: 632px;
    background-repeat: no-repeat;
    background-size:992px 631px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}
.swiper {
 width: 500px;

  }
  .mySwiper{

    width: 60%;
    margin: 0;
    padding: 0;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: skyblue;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.note-card{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.step-pr{

    padding-right: 0 !important;
}
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
 
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}
.aboutHomeSectiion div img{
    width: 100% !important;
    height: auto !important;
}

@media(max-width:900px){
    .home-section-top2{
        /* border: solid; */
        flex-direction: column;
    }
    .home-section-top{
        height: auto !important;
        background-image: none  !important;
    }
    .slidertopHomePage{
        flex: 0 0 99% !important;
        max-width: 59% !important;
        /* border: 2px solid red; */
    }
    .home-section-top2 div {
        flex-direction: row !important;
        margin-top: 1em;
        
    }
    .givHomeSection{
        flex: 0 0 73.333333% !important;
        max-width: 99.333333% !important;
    }
    .interestedYou{
        /* border: solid; */
        flex-direction: column;
    }
    .lastNewsHome{
        /* border: solid; */
        flex-direction: column;
    }
    .lastnewsSectionTwo {
        flex: 0 0 90.666667% !important;
    max-width: 99.666667% !important;
    }

    .lastnewsSectionTwo button, .moreAboutBtn{
        width: 100% !important;
    }
    .aboutHomeSectiion{
        /* border: solid; */
        flex-direction: column;

    }
    
    .aboutHomeSectiion div {
        flex: 0 0 91.333333% !important;
        max-width: 99.333333% !important;
    }
    .aboutHomeSectiion div button{
        width: 100% !important;
    }



}




@media(max-width: 1283px){
    .planHome{
        /* border: solid; */
    }
    .planHomesection{
        flex: 0 0 38% !important;
        max-width: 44% !important;
        padding-top: 2em !important;
        gap: 10px;
    }
    .servisHomeSection img{
        width: 100%;
        height: auto;
        /* border: solid red; */
    }

}

@media(max-width:1194px){
    .DownloadAPPHome{
      background-image: none !important;
      background-color: #000 !important;
      height: 90% !important;
      padding: 0 !important;
      text-align: right;
      flex-direction: column;
      padding: .5em !important;
    }
    .uploudApp ,.uploudAppsection2{
        padding: 4% 0 !important;
        justify-content: start !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin: 0 !important;
        /* border: solid red; */
      }
}
@media(max-width: 575px) {
    .planHome{
        flex-direction: column;
    }

      .servisHomeSection{
        flex-direction: column;
        gap: 10px;
    }
    .planHomesection{
        flex: 0 0 100% !important;
        max-width: 100% !important;
        /* border: solid red; */
    }
    /* .uploudApp{
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }
      .uploudAppsection2{
        padding-right: 20% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
      } */
}