.bgimage{
    background-image: url(../image/bgbasic.svg);
    background-size: 50%;
    height: auto;
    background-repeat: repeat-y;
    padding-top: 10%;
    padding-right: 7em;
}
.next{
    /* padding-top:7% !important; */
    /* margin-right: 5em; */
}
.person{
    padding-top: 1%;

}
.imgline{
padding: 1em;}

.bform{
    background-color: red;
    box-shadow: 1em;
    display: flex;
    justify-content: center;
}

.form-select {
    color: #989898 !important;
  }


@media(max-width:768px){
    .bgimage{
        padding-right: 0 !important;
    }
    .FormSignupMember{
        flex: 0 0 91% !important;
    max-width: 69% !important;
    }
}

@media(max-width:553px){
    .bgimage{
        flex-direction: column;
    padding-right: 5em !important;
    padding-top: 2em !important;

    }
    .bgimage .IconSignupMember{
        flex-direction: row !important;
        padding-right: 5em !important;
    }
    .FormSignupMember{
        flex: 0 0 91% !important;
    max-width: 90% !important;
    }
    .imgline{
        visibility: hidden !important;
    }

}