.bgimage{
    background-image: url(../image/bgbasic.svg);
    background-size: 50%;
    height: auto;
    background-repeat: repeat-y;
    padding-top: 10%;
    padding-right: 7em;
}
.next{
    /* padding-top: 7%; */
    /* margin-right: 5em; */
}
.person{
    padding-top: 3%;

}
.imgline{
padding: 1em;}

.bform{
    background-color: red;
    box-shadow: 1em;
    display: flex;
    justify-content: center;
}